.custom-shape-divider-top-1658479017 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658479017 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 279px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1658479017 .shape-fill {
    fill: #008059;
}